
/*NOTE: styles are done mobile first*/
/*#region Global*/ 
:root {
    --text-body: #201C1D;
    --text-action-hover: #20445E;

    --unselected-colour: #1b140fbf;
    --white-colour: #ffffff;
    --light-pink-colour: #fce1ea;
    --light-blue-colour: #c6e8ff;

    --surface-page: #ffffff;
    --surface-primary: #F8FCFF;
    --surface-action-hover-2: #DCEEFB;

    --border-primary: #B9B5B6;
    --border-action-hover: #3F89BD; 

    --border-radius-md: 4px;
    --border-radius-round: 64px;

    --border-width-md: 2px;

    --type-font-family-heading: Roboto+Mono;
    --heading-h5: 20px;
    --line-height-heading-h5: 24px;


    /*allows us to include the padding and birder in an elements total width & height
    width/height + padding + border = actual width/height of an element
    BECOMES width/height = actual width height & padding occurs INSIDE the box*/
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: Roboto Mono, sans-serif;
    color: var(--text-colour);
}

body {
    background-color: var(--surface-page);
    margin: 0;
}

ul {
    list-style: none;
}

h5 {
    font-family: var(--type-font-family-heading);
    font-size: var(--heading-h5);
    font-style: normal;
    font-weight: 700;
    line-height: var(--line-height-heading-h5);
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

/*#endregion Global*/

/*#region Header/Nav*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    min-height: 52px;

    border-bottom: var(--border-width-md) solid var(--border-primary);
    background: var(--surface-page);
}

.nav {
    top: 54px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--surface-page);
    overflow: hidden;
}


/*Makes nav invisible and sets the transition for the slide-out menu*/
.nav{
    /*content larger than this height will overflow
    so logo must technically be separate*/
    max-height: 0;
    /*element changing, time to make it change, speed curve*/
    transition: max-height .5s ease-out;
}

.nav-logo {
    padding: 6px 12px 8px 12px;;
}

/*#region Menu Buttons*/

.menu {
    display: flex;
    flex-direction: column;

    padding: 24px;
    margin: 0;

    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    gap: 24px;
    flex: 1 0 0;

    background: var(--surface-primary);
}

.menu-btn {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    text-decoration: none;
    color: var(--text-body);

    border-radius: var(--border-radius-md);
    border: var(--border-width-md) solid var(--border-primary);
    background: var(--surface-page);
    box-shadow: 4px 4px 0px px var(--border-action-hover);
}



.icon-frame{
    display: flex;
    width: 32px;
    height: 32px;
    padding: 8px;
    justify-content: center;
    align-items: center;

    position: absolute;

    border-radius: var(--border-radius-round);
    border: var(--border-width-md) solid var(--border-primary);
    background: var(--surface-page);
}

.menu-btn h5{
    flex: 1 0 0;
    text-align: right;
}

.menu-btn:hover {
    background: var(--surface-action-hover-2);
    color: var(--text-action-hover);
}

.open-menu {
    cursor: pointer;
    float: right;
    padding: 6px 12px 8px 12px;
}

.close-menu {
    cursor: pointer;
    float: right;
    display: none;
    padding: 6px 12px 8px 12px;
}

.side-menu {
    display: none;
}

/*Toggling the menu*/
.side-menu:checked ~ .nav {
    max-height: 100%;
}

.side-menu:checked ~ .open-menu {
    display: none;
}

.side-menu:checked ~ .close-menu {
    display: flex;
}

/*#endregion Menu Buttons*/

/*#endregion Header/Nav*/