<div class="highlight-card">
    <div class="highlight-image-frame">
        <img src="https://picsum.photos/800/500">
    </div>
    <div class="highlight-info-frame">
        <div class="highlight-tab-header">
            <div class="highlight-tab-inner">
                <h6 data-name="projectTitle">HIGHLIGHTED PROJECT</h6>
                <img src="/media/highlight-card/icon_highlightright.svg">
            </div>
        </div>
        <div class="highlight-blurb-frame">
            <p data-name="projectBlurb" class="highlight-blurb">
                This is a short description of the project.
                Typically, this may be a few sentences long.
                One, two, or three sentences just about.
            </p>
        </div>
        <a href="#" class="menu-btn">
            <div class="icon-frame">
                <img src="/media/icons/menu/icon_contact.svg">
            </div>
            <h5>CONTACT</h5>
        </a>
    </div>
</div>