<header class="header">
    <a href="index.html" class="nav-logo"><img src="/media/Logo.svg" alt="T.Catt Logo"/></a>
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="open-menu" for="side-menu"><img src="/media/icons/menu/dots-three-outline.svg" alt="Open Menu"/></label>
    <label class="close-menu" for="side-menu"><img src="/media/icons/menu/x.svg" alt="Close Menu"/></label>

    <nav class="nav">
        <ul class="menu">
            <a href="/index.html"class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/user.svg">
                </div>
                <h5>ABOUT</h5>
            </a>
            <a href="#" class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/book.svg">
                </div>
                <h5>PUBLICATIONS</h5>
            </a>
            <a href="#" class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/heart.svg">
                </div>
                <h5>SOCIAL MEDIA</h5>
            </a>
            <a href="#" class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/pen-nib.svg">
                </div>
                <h5>CREATIVE WRITING</h5>
            </a>
            <a href="#" class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/palette.svg">
                </div>
                <h5>ILLUSTRATION</h5>
            </a>
            <a href="#" class="menu-btn">
                <div class="icon-frame">
                    <img src="/media/icons/menu/envelope.svg">
                </div>
                <h5>CONTACT</h5>
            </a>
        </ul>
    </nav>
</header>